<!DOCTYPE html>
<html>
<head>
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav>
  <% menuLinks.forEach(link => { %>
    <a href="<%= link.path %>" <%= link.path === activeLinkPath ? 'class="active"' : '' %>>
      <%= link.label %>
    </a>
  <% }) %>
</nav>
<h1>Welcome to the Shop</h1>
<p><a href="/products">View Products</a></p>
</body>
</html>